/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * eriantyspas implementation : © Pietro Luigi Porcedda <pietro.l.porcedda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */


html {
    background: url('img/background.jpg') #fff8f0;
    background-repeat: repeat;
    background-size: 100%;
}

#pieces_movement_oversurface_cont {
    width: 0px;
    height: 0px;
    position: relative;
    z-index: 5;
}

/* ---------------------------------- */
/* #region MAIN GAME AREA SUBDIVISION */
/* ---------------------------------- */

/* #game_ui * {
    background-color: transparent !important;
} */

#game_ui {
    --islands-fr: 0%;
    --regions-bgcol: rgba(255, 255, 255, 0.5);

    width: 100%;
    height: fit-content;

    position: relative;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
}

/* #game_ui > div {
    border: solid black 1px;
    box-sizing: border-box;
} */

#assistant_cards_drawer {
    width: 100%;
    height: 0px;
    overflow: hidden;

    transition: height 500ms ease-in-out;
}

#main_game_area {
    --scale: 1;

    width: calc(var(--islands-fr) + 50%);
    height: fit-content;

    min-width: 700px;
    flex-grow: 1;

    /* background-color: var(--regions-bgcol); */

    position: relative;
}

#controls_div {
    /* background-color: rgb(227 95 255 / 50%); */

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    width: 100%;
}

#islands_div {

    position: relative;

    display: inline-block;
    /* background-color: rgba(50, 116, 155, 0.5); */

    width: 100%;
    height: calc(var(--scale) * 730px);
    
    border-radius: 100%;
}

#game_area_bottom {
    /* background-color: rgba(255, 218, 52, 0.5); */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    /* row-gap: 20px; */
}

#team_school_area {
    width: calc(40% - var(--islands-fr));
    min-width: 650px;
    flex-grow: 1;

    /* background-color: var(--regions-bgcol); */

    position: relative;
    row-gap: 20px;
}

#opponents_school_area {
    width: 100%;

    /* background-color: var(--regions-bgcol); */
    
}

.schools_area {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.schools_cont {
    /* flex-grow: 1; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

/* #endregion */
/* ---------------------------------- */

/* ----------------------------- */
/* #region ASSISTANT DRAWER AREA */
/* ----------------------------- */

#assistant_cards_div {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;

    margin: 15px;
}

#assistant_cards_myhand {
    display: flex;

    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 10px;

    min-width: 730px;

    position: relative;

    background-color: rgb(255 255 255 / 50%);

    padding: 10px;
    padding-top: 30px;
    border-radius: 5px;
}

#myhand_lable {
    position: absolute;
    top: 5px;
}

#assistant_cards_played {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 10px;

    background-color: rgb(255 255 255 / 50%);

    border-radius: 5px;

    padding: 10px;
    padding-top: 30px;

    position: relative;
}

#played_lable {
    position: absolute;
    top: 5px;
}

#assistant_cards_myhand .assistant {
    position: relative;
    transform-origin: bottom;
    transition: 200ms ease-out;
}

#assistant_cards_myhand .assistant.unselected:not(.blocked):hover {
    transform: scale(1.05);
}

#assistant_cards_myhand .assistant.blocked:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255 255 255 / .5);
    border-radius: 5px;
}

.assistant.selected {
    transform: translate(0, -7px);
    filter: drop-shadow(0px 7px 0px red);
}

.assistant_placeholder {
    position: relative;

    height: 154px;
    width: 102px;

    background-color: rgb(0 0 0 / 35%);

    /* border-radius: 7px;
    box-shadow: inset 0px -7px var(--color);
    border: solid rgb(0 0 0 / 35%) 1px; */

    border-radius: 9px;
    border: solid var(--color)3px;
    box-shadow: 0px 0px 2px var(--alt-color);

    overflow: hidden;
}

.placeholder_lable {
    position: absolute;
    bottom: -30px;

    width: 100%;
    
    background-color: var(--color);

    text-align: center;
    color: var(--alt-color);
    font-size: small;

    padding: 2px;

    transition: bottom 500ms ease-out;
}

.assistant_placeholder:hover .placeholder_lable {
    bottom: 0px;
}

/* #endregion */
/* ----------------------------- */

/* ----------------------------- */
/* #region ISLANDS CONTROLS AREA */
/* ----------------------------- */

.controls {
    display: inline-block;
    margin: 15px;
}

#control_zoom {
    display: flex;
    justify-content: space-between;
    width: 120px;

    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 60px;
}

.svg_icon {
    width: 30px;
}

#assistants_arrow_cont {
    width: 100%;
    height: 0px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    border-top: solid rgb( 0 0 0 / 0.5) 1px;
    z-index: 1;
}

#assistants_drawer_arrow {
    border: solid rgb( 0 0 0 / 0.5) 1px;
    background-color: rgb(255 255 255 / 0.5);

    border-top: 0px;

    padding: 5px;
    border-radius: 0px 0px 100% 100%;

    position: relative;
    left: -50px;
}

.close_drawer > g {
    transform: translate(0, 92%) scaleY(-1);
}

/* #endregion */
/* ----------------------------- */

/* ------------------------- */
/* #region ISLANDS AND GROUPS*/
/* ------------------------- */

#islands_cont {
    --size: 0.15;

    transform: scale(calc(var(--scale) - 0.1));

    position: absolute;
    top: 50%;
    left: 50%;
}
  
.island {
    position: absolute;

    background-image: url('img/pieces.png');

    width: calc(var(--size) * 1000px);
    height: calc(var(--size) * 1000px);
    background-size: calc(var(--size) * 4000px) calc(var(--size) * 3714px);

    transform: translate(-50%,-50%);

    transition-property: left, top;
    transition: 1.5s ease-in;

    filter: drop-shadow(0px 1px 0px rgb(21 112 158)) drop-shadow(0px 1px 0px rgb(21 112 158)) drop-shadow(0px 1px 0px rgb(21 112 158))
}

.island_group.active {
    cursor: pointer;
    filter: drop-shadow(2px 2px 0px orange) drop-shadow(-2px 2px 0px orange) drop-shadow(2px -2px 0px orange) drop-shadow(-2px -2px 0px orange);
}

.influence_cont {

    transform: translate(-50%,-50%);

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    top: 50%;
    left: 50%;
}

.students_influence {
    width: 110px;
    height: 100px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 3px;

    box-sizing: border-box;

    padding: 20px;

    border-radius: 100%;
}

.students_influence.active {
    cursor: pointer;
    border: solid white 1px;
    box-shadow: inset 0px 0px 10px white;
}

.island .student {
    --scale: 0.045
}

.island .tower {
    --scale: 0.085;
    position: absolute;
    right: 15px;
}

.island_type_1 {
    background-position-x: calc(var(--size) * 0px);
}

.island_type_2 {
    background-position-x: calc(var(--size) * -1000px);
}

.island_type_3 {
    background-position-x: calc(var(--size) * -2000px);
}

/* .island_group:hover {
    filter: drop-shadow(0px 0px 5px red);
} */

/* #endregion */
/* ------------------------- */

/* --------------------------- */
/* #region SCHOOL PLAYER BOARD */
/* --------------------------- */

.team_name {
    font-size: large;
    font-weight: bold;

    padding: 15px;
    margin: 15px;
    border-radius: 10px;

    color: var(--alt-color);
    background-color: var(--color);

    filter: drop-shadow(0px 0px 2px var(--alt-color));
}

.school_name {
    position: absolute;
    top: 0px;
    left: 0px;

    padding: 5px;
    border-radius: 0px 0px 5px 0px;

    color: var(--alt-color);
    background-color: var(--color);
}

.school {
    --scale: 0.15;

    display: inline-block;

    width: calc(var(--scale) * 4000px);
    height: calc(var(--scale) * 1714px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);

    background-position: 0px calc(var(--scale) * -2000px);

    border: solid var(--color) 3px;
    border-radius: 10px;

    box-shadow: 2px 4px 0px var(--color);
    filter: drop-shadow(0px 0px 2px var(--alt-color));

    margin: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.school_entrance {
    gap: 10px;

    width: 14%;

    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
    border-radius: 10px;
}

.school_entrance.active {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px white;
    border: solid white 1px;
}

.school_entrance .student.selectable {
    transition: all 200ms ease-in;
}

.school_entrance .student.selectable:hover {
    transform: scale(1.1);
}

.school_entrance .student.selected {
    transform: translate(0px, -4px);
    box-shadow: 0px 4px red;
    border-radius: 0px 0px 9px 9px;
}

.school_entrance .student.selected:hover {
    transform: translate(0px, -4px);
}

.school_hall {
    width: 65%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.tables {
    width: 345px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 13.5px;

    position: relative;
    top: 0px;
    left: -3px;
}

.tables > div {
    width: 100%;
    height: 29px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.students_table {
    height: 100%;
    width: 292px;

    display: flex;
    align-items: center;
    gap: 6.1px;

    padding-left: 7px;

    box-sizing: border-box;
    border-radius: 5px;
}

.students_table.active {
    cursor: pointer;

    box-shadow: inset 0px 0px 10px white;
    border: solid white 1px

    /* background-color: rgb(255 255 255 / 0.5); */
}

.students_table .student {
    position: relative;
    top: -1px;
}

.professor_seat {
    width: 27px;
    height: 100%;
}

.professor_seat .professor {
    position: relative;
    top: -2px;
    left: 1px;
}

.school .student {
    --scale: 0.06;
}

.school .professor {
    --scale: 0.07;
}

.school_yard {
    width: 15%;
    padding: 15px;

    display: grid;
    grid-template-columns: 40px 40px;
    grid-template-rows: repeat(2,45px);
    align-content: center;

    position: relative;
    top: -18px;
}

/* #endregion */
/* --------------------------- */

/* -------------------------------- */
/* #region TOWERS AND MOTHER NATURE */
/* -------------------------------- */

#mother_nature {
    --scale: 0.1;

    display: inline-block;

    width: calc(var(--scale) * 361px);
    height: calc(var(--scale) * 500px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);

    background-position:calc(var(--scale) * -2500px) calc(var(--scale) * -1000px);

    filter: drop-shadow(calc(var(--scale) * -10px) calc(var(--scale) * 20px) calc(var(--scale) * 20px) black);

    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tower {
    --scale: 0.1;

    display: inline-block;

    width: calc(var(--scale) * 275px);
    height: calc(var(--scale) * 500px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);

    background-position-y:calc(var(--scale) * -1000px);

    filter: drop-shadow(calc(var(--scale) * 0px) calc(var(--scale) * 20px) calc(var(--scale) * 20px) black);
}

.tower_white {
    background-position-x:calc(var(--scale) * -2861px);
}

.tower_grey {
    background-position-x:calc(var(--scale) * -3136px);
}

.tower_black {
    background-position-x:calc(var(--scale) * -3411px);
}

/* #endregion */
/* --------------------------- */

/* -------------------------------- */
/* #region ASSISTANT AND HERO CARDS */
/* -------------------------------- */

.card {
    width: calc(var(--scale) * 660px);
    height: calc(var(--scale) * 1000px);

    background-image: url('img/cards.png');
    background-size: calc(var(--scale) * 3960px) calc(var(--scale) * 4000px);

    border-radius: 5px;

    border: solid #4b3010 1px;
    box-shadow: 1px 2px 0px #4b3010;
    
}

.assistant {
    --scale: 0.15;
}

.assistant_1 {
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * 0px);
}

.assistant_2 {
    background-position: calc(var(--scale) * -660px) calc(var(--scale) * 0px);
}

.assistant_3 {
    background-position: calc(var(--scale) * -1320px) calc(var(--scale) * 0px);
}

.assistant_4 {
    background-position: calc(var(--scale) * -1980px) calc(var(--scale) * 0px);
}

.assistant_5 {
    background-position: calc(var(--scale) * -2640px) calc(var(--scale) * 0px);
}

.assistant_6 {
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * -1000px);
}

.assistant_7 {
    background-position: calc(var(--scale) * -660px) calc(var(--scale) * -1000px);
}

.assistant_8 {
    background-position: calc(var(--scale) * -1320px) calc(var(--scale) * -1000px);
}

.assistant_9 {
    background-position: calc(var(--scale) * -1980px) calc(var(--scale) * -1000px);
}

.assistant_10 {
    background-position: calc(var(--scale) * -2640px) calc(var(--scale) * -1000px);
}

.hero {
    --scale: 0.18;
}

#hero_1 {
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * -2000px);
}

#hero_2 {
    background-position: calc(var(--scale) * -660px) calc(var(--scale) * -2000px);
}

#hero_3 {
    background-position: calc(var(--scale) * -1320px) calc(var(--scale) * -2000px);
}

#hero_4 {
    background-position: calc(var(--scale) * -1980px) calc(var(--scale) * -2000px);
}

#hero_5 {
    background-position: calc(var(--scale) * -2640px) calc(var(--scale) * -2000px);
}

#hero_6 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -2000px);
}

#hero_7 {
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * -3000px);
}

#hero_8 {
    background-position: calc(var(--scale) * -660px) calc(var(--scale) * -3000px);
}

#hero_9 {
    background-position: calc(var(--scale) * -1320px) calc(var(--scale) * -3000px);
}

#hero_10 {
    background-position: calc(var(--scale) * -1980px) calc(var(--scale) * -3000px);
}

#hero_11 {
    background-position: calc(var(--scale) * -2640px) calc(var(--scale) * -3000px);
}

#hero_12 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -3000px);
}

#heroes {
    display: flex;

    gap: 15px;
    margin: 15px;
}

/* #endregion */
/* -------------------------------- */

/* ------------------------- */
/* #region STUDENTS DRAFTING */
/* -------------------------------- */

#students_draft {
    display: flex;
    align-items: center;

    width: 360px;

    justify-content: space-between;

    margin: 15px;
}

#cloud_tiles_div {

    display: flex;
    flex-wrap: wrap;

    width: 200px;

    row-gap: 15px;
    column-gap: 15px;

    justify-content: center;
}

.cloud_tile {
    --scale: 0.16;

    /* display: inline-block; */

    width: calc(var(--scale) * 500px);
    height: calc(var(--scale) * 500px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);
    background-position-y: calc(var(--scale) * -1000px);
    border-radius: 100%;

    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */

    display: grid;
    grid-template-columns: 20px 20px;
    row-gap: 5px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;

    box-sizing: border-box;

    filter: drop-shadow(0px 3px 0px rgb(21 112 158));
}

.cloud_tile.active {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px white;
    border: solid white 1px;
}

.cloud_tile div:first-child {
    grid-column: span 2;
}

.cloud_type_1 {
    background-position-x: calc(var(--scale) * 0px);
}

.cloud_type_2 {
    background-position-x: calc(var(--scale) * -500px);
}

.cloud_type_3 {
    background-position-x: calc(var(--scale) * -1000px);
}

.cloud_type_4 {
    background-position-x: calc(var(--scale) * -1500px);
}

.cloud_type_multi {
    background-position-x: calc(var(--scale) * -2000px);
}

#students_bag {
    --scale: 0.16;

    display: inline-block;

    width: calc(var(--scale) * 800px);
    height: calc(var(--scale) * 840px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);
    background-position: calc(var(--scale) * -3000px) 0px;
}

#students_bag:after {
    content: "";
    width: 150px;
    height: 25px;
    display: block;
    background: rgba(0 0 0 / .7);
    position: relative;
    left: -5px;
    top: 115px;
    border-radius: 100%;
    filter: blur(9px);
    z-index: -1;
}

/* #endregion */
/* ------------------------- */

/* --------------------------------------- */
/* #region STUDENTS, PROFESSORS AND TOWERS */
/* ------------ */

.student {
    --scale: 0.05;

    width: calc(var(--scale) * 375px);
    height: calc(var(--scale) * 375px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);
    background-position-y: calc(var(--scale) * -1500px);

    filter: drop-shadow(calc(var(--scale) * -20px) calc(var(--scale) * 20px) calc(var(--scale) * 20px) black);
}

.student_green {
    background-position-x: calc(var(--scale) * 0px);
}

.student_red {
    background-position-x: calc(var(--scale) * -375px);
}

.student_yellow {
    background-position-x: calc(var(--scale) * -750px);
}

.student_pink {
    background-position-x: calc(var(--scale) * -1125px);
}

.student_blue {
    background-position-x: calc(var(--scale) * -1500px);
}

.professor {
    --scale: 0.07;

    width: calc(var(--scale) * 375px);
    height: calc(var(--scale) * 446px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);
    background-position-y: calc(var(--scale) * -1500px);

    filter: drop-shadow(calc(var(--scale) * -15px) calc(var(--scale) * 15px) calc(var(--scale) * 15px) rgb(0,0,0,0.7));
}

.professor_green {
    background-position-x: calc(var(--scale) * -1875px);
}

.professor_red {
    background-position-x: calc(var(--scale) * -2250px);
}

.professor_yellow {
    background-position-x: calc(var(--scale) * -2625px);
}

.professor_pink {
    background-position-x: calc(var(--scale) * -3000px);
}

.professor_blue {
    background-position-x: calc(var(--scale) * -3375px);
}

/* #endregion */
/* --------------------------------------- */

/* ----------------------- */
/* #region TOKENS AND MISC */
/* ----------------------- */

.coin {
    --scale: 0.13;

    width: calc(var(--scale) * 250px);
    height: calc(var(--scale) * 250px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);

    background-position:calc(var(--scale) * -3750px) calc(var(--scale) * -1750px);

    filter: drop-shadow(0px 0px 0px black);
}

.mona_icon {
    --scale: 0.15;

    width: calc(var(--scale) * 250px);
    height: calc(var(--scale) * 203px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3714px);

    background-position:calc(var(--scale) * -3750px) calc(var(--scale) * -1250px);

    filter: drop-shadow(0px 0px 0px black);
}

.point {
    --size: 10px;

    width: var(--size);
    height: var(--size);
    border-radius: 100%;

    transform: translate(-50%,-50%);

    position: absolute;

    background-color: greenyellow;
}

.turn_indicator {
    --scale: 0.2;

    width: calc(var(--scale) * 150px);
    height: calc(var(--scale) * 150px);

    background-image: url('img/cards.png');
    background-size: calc(var(--scale) * 3960px) calc(var(--scale) * 4000px);
}

#assistant_cards_played .turn_indicator {
    position: absolute;
    z-index: 1;
}

.bounce_animation {

    animation: bounce 500ms;
    animation-iteration-count: 1;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.turn_position {
    filter: hue-rotate(200deg);
}

.turn_position_1 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * 0px);
}

.turn_position_2 {
    background-position: calc(var(--scale) * -3450px) calc(var(--scale) * 0px);
}

.turn_position_3 {
    background-position: calc(var(--scale) * -3600px) calc(var(--scale) * 0px);
}

.turn_position_4 {
    background-position: calc(var(--scale) * -3750px) calc(var(--scale) * 0px);
}

.turn_position_5 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -150px);
}

.turn_position_6 {
    background-position: calc(var(--scale) * -3450px) calc(var(--scale) * -150px);
}

.turn_position_7 {
    background-position: calc(var(--scale) * -3600px) calc(var(--scale) * -150px);
}

.turn_position_8 {
    background-position: calc(var(--scale) * -3750px) calc(var(--scale) * -150px);
}

.turn_position_9 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -300px);
}

.turn_position_10 {
    background-position: calc(var(--scale) * -3450px) calc(var(--scale) * -300px);
}

.mona_movement {
}

.mona_movement_1 {
    background-position: calc(var(--scale) * -3600px) calc(var(--scale) * -300px);
}

.mona_movement_2 {
    background-position: calc(var(--scale) * -3750px) calc(var(--scale) * -300px);
}

.mona_movement_3 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -450px);
}

.mona_movement_4 {
    background-position: calc(var(--scale) * -3450px) calc(var(--scale) * -450px);
}

.mona_movement_5 {
    background-position: calc(var(--scale) * -3600px) calc(var(--scale) * -450px);
}

.mona_movement_0 {
    background-position: calc(var(--scale) * -3750px) calc(var(--scale) * -450px);
}

/* #endregion */
/* ----------------------- */

/* ------------------------- */
/* #region SIDE PLAYER BOARD */
/* ------------------------- */

.player-board {
    background-color: rgb(176 209 233 / 50%);
    border-width: 2px;
    border-radius: 8px;
    box-sizing: border-box;
}

.inner_player_board {
    height: 100px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;

    position: relative;
}

.inner_player_board span {
    z-index: 1;

    font-weight: bold;
    font-size: large;

    filter: drop-shadow(0px 0px 2px white);
}

.player_coins {
    display: flex;
    align-items: center;

    position: relative;
    left: 10px;
}

.player_coins > span {
    position: relative;
    left: -10px;
}

.player_turn {
    display: flex;
    gap: 10px;
}

.player_students {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player_students > .student {
    --scale: 0.05;
}

.player_students > .professor {
    --scale: 0.05;
    display: none;
}

.color_counter {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.professor_marker {
    width: 40px;
    height: 35px;

    position: absolute;
    top: -7px;
    left: -11px;
    
    visibility: hidden;
}

.hex_shape {
    fill: none;
    stroke: var(--col);
    stroke-width: 2px;
}

.player-board .assistant {
    position: absolute;
    top: 0px;
    left: 0px;
}

.player-board .professor {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* #endregion */
/* ----------------------- */