/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * eriantyspas implementation : © Pietro Luigi Porcedda <pietro.l.porcedda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/* ---------------------------------- */
/* #region MAIN GAME AREA SUBDIVISION */
/* ---------------------------------- */

/* #game_ui * {
    background-color: transparent !important;
} */

#game_ui {
    width: 100%;
    height: fit-content;

    position: relative;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
}

#main_game_area {
    --islands-fr: 0%;
    --scale: 1;

    width: calc(var(--islands-fr) + 50%);
    height: fit-content;

    min-width: 750px;
    flex-grow: 1;

    background-color: rgba(255, 255, 255, 0.5);

    position: relative;
}

#controls_div {
    background-color: rgb(227 95 255 / 50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    width: 100%;
}

#islands_div {

    position: relative;

    display: inline-block;
    background-color: rgba(50, 116, 155, 0.5);

    width: 100%;
    height: calc(var(--scale) * 500px);
    
    border-radius: 100%;
}

#game_area_bottom {
    background-color: rgba(255, 218, 52, 0.5);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    /* row-gap: 20px; */
}

#player_school_area {
    /* width: calc(50% - var(--islands-fr)); */
    min-width: 600px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(149, 35, 111, 0.5);
}

#opponents_school_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgba(58, 149, 35, 0.5);
}

/* #endregion */
/* ---------------------------------- */


/* ----------------------------- */
/* #region ISLANDS CONTROLS AREA */
/* ----------------------------- */

.controls {
    display: inline-block;
    margin: 15px;
}

#control_rotation {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

#control_zoom {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.svg_icon {
    width: 30px;
}

.rotate_icon {
    width: 45px;
}

#rotate_left {
    transform: scaleX(-1);
}

/* #endregion */
/* ----------------------------- */


/* ------------------------- */
/* #region ISLANDS AND GROUPS*/
/* ------------------------- */

#scale_wrap {
    transform: scale(calc(var(--scale) - 0.1));

    position: absolute;
    top: 32%;
    left: 50%;
}

#perspective_wrap {
    perspective: 750px;
}

#islands_cont {
    --z-rot: 0deg;

    transform: rotateX(60deg) rotateZ(var(--z-rot));

    transition: transform 200ms ease-out;
}
  
.island {
    --angle: 0deg;
    position: absolute;

    background-image: url('img/pieces.png');

    width: 100px;
    height: 100px;
    background-size: 400px 381px;

    transform: translate(-50%,-50%) rotate(var(--angle));

    transition-property: left, top;
    transition: 1.5s ease-in;
}

.island_type_1 {
    background-position: 0px 0px;
}

.island_type_2 {
    background-position: -100px 0px;
}

.island_type_3 {
    background-position: -200px 0px;
}

.island_group:hover {
    filter: drop-shadow(0px 0px 5px red);
}

/* #endregion */
/* ------------------------- */


/* --------------------------- */
/* #region SCHOOL PLAYER BOARD */
/* --------------------------- */

.game_player_board {
    --scale: 0.15;

    display: inline-block;

    width: calc(var(--scale) * 4000px);
    height: calc(var(--scale) * 1714px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3807px);

    background-position: 0px calc(var(--scale) * -2093px);

    border: solid #374649 2px;
    border-radius: 5px;

    margin: 10px;
}

/* #endregion */
/* --------------------------- */

/* -------------------------------- */
/* #region ASSISTANT AND HERO CARDS */
/* -------------------------------- */

.card {
    --scale: 0.18;

    width: calc(var(--scale) * 660px);
    height: calc(var(--scale) * 1000px);

    background-image: url('img/cards.png');
    background-size: calc(var(--scale) * 3960px) calc(var(--scale) * 4000px);

    border-radius: 5px;
    border: solid #374649 1px;
}

#hero_1 {
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * -2000px);
}

#hero_2 {
    background-position: calc(var(--scale) * -660px) calc(var(--scale) * -2000px);
}

#hero_3 {
    background-position: calc(var(--scale) * -1320px) calc(var(--scale) * -2000px);
}

#hero_4 {
    background-position: calc(var(--scale) * -1980px) calc(var(--scale) * -2000px);
}

#hero_5 {
    background-position: calc(var(--scale) * -2640px) calc(var(--scale) * -2000px);
}

#hero_6 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -2000px);
}

#hero_7 {
    background-position: calc(var(--scale) * 0px) calc(var(--scale) * -3000px);
}

#hero_8 {
    background-position: calc(var(--scale) * -660px) calc(var(--scale) * -3000px);
}

#hero_9 {
    background-position: calc(var(--scale) * -1320px) calc(var(--scale) * -3000px);
}

#hero_10 {
    background-position: calc(var(--scale) * -1980px) calc(var(--scale) * -3000px);
}

#hero_11 {
    background-position: calc(var(--scale) * -2640px) calc(var(--scale) * -3000px);
}

#hero_12 {
    background-position: calc(var(--scale) * -3300px) calc(var(--scale) * -3000px);
}

#heroes {
    display: flex;

    gap: 15px;
    margin: 15px;
}

/* #endregion */
/* -------------------------------- */

/* -------------------------------- */
/* #region STUDENTS DRAFTING */
/* -------------------------------- */

#students_draft {
    display: flex;
    align-items: center;

    width: 360px;

    justify-content: space-between;

    margin: 15px;
}

#students_clouds_div {

    display: flex;
    flex-wrap: wrap;

    width: 200px;

    row-gap: 15px;
    column-gap: 15px;

    justify-content: center;
}

.students_cloud {
    --scale: 0.16;

    display: inline-block;

    width: calc(var(--scale) * 500px);
    height: calc(var(--scale) * 500px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3807px);
    border-radius: 100%;
}

#cloud_1 {
    background-position: calc(var(--scale) * -2500px) calc(var(--scale) * -1000px);
}

#cloud_2 {
    background-position: calc(var(--scale) * -3000px) calc(var(--scale) * -1000px);
}

#cloud_3 {
    background-position: calc(var(--scale) * -3500px) calc(var(--scale) * -1000px);
}

#cloud_4 {
    background-position: calc(var(--scale) * -2500px) calc(var(--scale) * -1500px);
}

#cloud_multi {
    background-position: calc(var(--scale) * -3000px) calc(var(--scale) * -1500px);
}

#students_bag {
    --scale: 0.16;

    display: inline-block;

    width: calc(var(--scale) * 800px);
    height: calc(var(--scale) * 840px);

    background-image: url('img/pieces.png');
    background-size: calc(var(--scale) * 4000px) calc(var(--scale) * 3807px);
    background-position: calc(var(--scale) * -3000px) 0px;
}

/* #endregion */
/* -------------------------------- */

/* ------------ */
/* #region MISC */
/* ------------ */

.point {
    --size: 10px;

    width: var(--size);
    height: var(--size);
    border-radius: 100%;

    transform: translate(-50%,-50%);

    position: absolute;

    background-color: greenyellow;
}

/* #endregion */
/* ------------ */